.header_image_container {
	position: relative;
	background-color: #000;
	height: 100vh;

	transform: translateY(-68px);
}
@media screen and (max-width: 600px) {
	.header_image_container {
		transform: translateY(-51px);
	}
}
.header_text {
	position: absolute;
	color: #fff;
	font-size: 4rem;

	text-align: center;

	z-index: 1;

	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);
}
.partners_logos {
	display: block;
	width: 45vw;
	margin: auto;
	margin-top: 2rem;
}

@media screen and (max-width: 1000px) {
	.partners_logos {
		width: 75vw;
	}
}
@media screen and (max-width: 500px) {
	.partners_logos {
		width: 100vw;
	}
}

.header_image {
	width: 100%;
	opacity: 0.7;
}
div.desc_block {
	margin: auto;
	margin-top: 2rem;
	width: 80%;
}
.desc {
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.subsection_header {
	font-size: 2rem;
	margin-top: 2rem;
	text-align: center;
}
