.back_link_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	border-bottom: 1px solid #e0e2e5;
}
.back_pure_link {
	display: flex;
	align-items: center;
	color: #565656;
	cursor: pointer;
}
.content_back_link {
	width: 650px;
}
.back_pure_link > .back_link_para {
	margin-left: 10px;
	font-size: 22px;
}
