.Header {
	background-color: #f8f9fa;
}

.header-content > a,
.header-content > img {
	width: 200px;
}

.header-content > ul li {
	padding: 1.5rem 0.5rem;
	display: inline-block;
}
.header-content ul li:hover {
	background-color: #ddd;
}
.header-content .dropdown-wrapper {
	padding: 0.7rem 0rem;
	margin-left: 1rem;
	position: relative;
}
.header-content .dropdown-wrapper:hover {
	background-color: transparent;
}
.header-content .dropdown-wrapper:hover > .body {
	display: grid;
}
.header-content .dropdown-wrapper:hover > .head svg {
	transform: rotate(180deg);
}
.header-content .dropdown-wrapper .head {
	height: 100%;
	display: flex;
}
.header-content .dropdown-wrapper .body {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translateX(-50%);
	width: 320px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #fff;
	box-shadow: 0px 0px 5px #ddd;
	display: none;
}

.header-content .dropdown-wrapper .body li {
	text-align: center;
	margin: 0px;
	padding: 0rem !important;
}
.header-content .dropdown-wrapper .body li a {
	padding: 1rem 0.3rem;
	color: #000;
	display: block;
	width: 100%;
}

.header-content .dropdown-wrapper .body li a:hover {
	background-color: #ddd;
}
.Header form {
	flex: 1;
	margin: 0rem 1rem;
}
.Header form .input-wrapper {
	background-color: #fff;
	padding: 0rem 1rem;
	height: 45px;
}
.Header form .input-wrapper input {
	width: 100%;
	flex: 1;
	margin-left: 1rem;
	height: 90%;
	border: none;
	outline: none;
}
.Header form .input-wrapper > svg {
	color: #f85220;
}
.Header ul {
	margin-left: 10px;
	justify-content: flex-end;
}
.Header ul a {
	color: #000;
}
.Header ul li.dropdown-wrapper {
	margin-left: 2rem !important;
}
.Header ul li.dropdown-wrapper .body {
	grid-template-columns: 1fr !important;
	width: 170px !important;
	z-index: 222;
}
.Header ul li.dropdown-wrapper .body li {
	text-align: left !important;
}
.Header ul li.dropdown-wrapper .body li a {
	padding: 0.7rem 1.5rem !important;
}
.Header ul > * + * {
	margin-left: 2rem;
}

.sidebar {
	background-color: #f8f9fa;
	padding: 0.7rem 0.8rem;
	list-style: none;
	display: block;
	position: absolute;
	top: 50px;
	width: 100%;
}
.sidebar > * a {
	padding: 0.5rem 0rem;
	color: #000;
	display: inline-block;
}

.burger-icon {
	display: none;
}

@media screen and (max-width: 800px) {
	.Header .header-content > img {
		width: 150px;
	}
	.Header .header-content > ul li:first-child {
		display: none;
	}
	.Header form {
		margin-right: 0px !important;
	}
	.Header ul > * + *,
	.Header ul li.dropdown-wrapper {
		margin-left: 0.5rem;
	}
}

@media screen and (max-width: 600px) {
	.burger-icon {
		display: block;
	}
	.Header .header-content {
		justify-content: space-between;
	}
	.bottomButton {
		position: fixed;
		width: 100%;
		padding: 1rem 1rem;
		bottom: 0;
		margin-left: 0px !important;
		left: 0;
		background-color: #f85220;
		text-align: center;
		z-index: 222;

		margin-left: 0rem !important;
	}
	.Header .header-content > ul > li:last-child a {
		color: #fff !important;
	}
	.Header {
		padding: 0rem 0rem;
	}
	.Header form {
		display: none;
	}

	.Header .drop-down {
		display: none !important;
	}
}
