.Opportunity-text {
	width: 100%;
	color: #ff5a38;
	font-size: 1.7rem !important;
	text-align: center;
}
.org-text {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	font-size: 1.4rem !important;
}
.player-img {
	border-radius: 20px;
	margin-top: 20px;
}
.content * {
	z-index: 1;
}
.info-box {
	z-index: 1;
}
.row {
	position: relative;
}
.gray_bg {
	background-color: #f5f5f5;
	position: absolute;
	height: 100%;
	width: 200vw;
	z-index: 0;
	left: -100vw;

	top: 0;
}
.row {
	margin: 35px 0px;
}
.paragraph {
	color: black;
}

.Opportunities-button {
	background-color: #ff5a38 !important;
	width: 300px;
	padding: 12px 0px;
	text-align: center;
	border-style: none;
	border-radius: 15px;
	color: white;
	margin: auto;
	cursor: pointer;
	display: block;
	margin-top: 20px;
}
.Opportunities-button3 {
	background-color: #ff5a38 !important;
	width: 300px !important;
	padding: 12px 0px;
	text-align: center;
	border-style: none;
	border-radius: 15px;
	color: white;
	margin: auto;
	cursor: pointer;
	display: block;
}
.Opportunities-button2:hover {
	background-color: #f75231 !important;
}
.Opportunities-button3:hover {
	background-color: #f75231 !important;
}
.Opportunities-button:hover {
	background-color: #f75231 !important;
}
.Opportunities-button2 {
	background-color: #ff5a38 !important;
	width: 100% !important;
	padding: 12px 0px;
	text-align: center;
	border-style: none;
	border-radius: 15px;
	color: white;
	margin: auto;
	cursor: pointer;
	display: block;
	margin-top: 20px;
}
.link {
	text-decoration: none !important;
	cursor: pointer;
}
.info-box {
	position: relative;
	width: 350px;
}
.fixed-f {
	margin: 30px 0px;
	width: 350px;
	padding: 10px 0px;
	padding-bottom: 10px;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	border-radius: 10px;
}
.fixed-f * {
	font-weight: bold !important;
}
.icon-b {
	margin: 0px 15px !important;
	margin-bottom: 5px !important;
	margin-top: -30px !important;
}
@media (min-width: 769px) {
	.fixed-f {
		background-color: white;
		box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1),
			0px 0px 5px 5px rgba(0, 0, 0, 0.01);
		transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
		position: fixed;
		top: 120px;
		border-radius: 10px;
	}
	.footer-b {
		display: none !important;
	}
}
@media (max-width: 768px) {
	.row {
		display: block !important;
		margin: 0px !important;
	}
	.container {
		padding: 0px !important;
	}

	.Opportunities-button {
		width: 100% !important;
	}
	.Opportunities-button2 {
		width: 100% !important;
		display: none !important;
	}
	.Opportunities-button3 {
		width: 100% !important;
	}
	.footer-b {
		padding: 20px !important;
	}
	.col-md-6 {
		max-width: 100% !important;
	}
	.info-box {
		width: 100% !important;
	}
	.fixed-f {
		width: 100% !important;
	}
	.row {
		padding: 15px 5px !important;
	}
	.icon-row {
		padding: 0px !important;
		margin: 35px 0px !important;
	}
	.col {
		padding: 0px !important;
	}
	.user-icon {
		margin-top: -35px !important;
	}

	.icon-b {
		margin-bottom: 0px !important;
	}
}
.user-icon {
	float: right !important;
	margin-top: -7px;
}
.col.icons_box {
	height: 35px;
	padding: 0px;
}
.card_text_div {
	margin-bottom: 5px;
}
.h5 {
	color: #ff5a38 !important;
	font-size: 18px !important;
	margin-top: 7px;
	margin-bottom: 10px;
}
.h52 {
	color: #ff5a38 !important;
	font-size: 14px !important;
	padding-top: 10px !important;
}
.icon-b .row:not(.no_icons_row) {
	margin-bottom: 20px !important;
}
.no_icons_row {
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}

.user-icon {
	color: #ff5a38 !important;
	background-color: transparent !important;
	font-size: 25px;
}
.footer-b {
	position: fixed;
	bottom: 0;
	background-color: white;
	border-top: 1px solid lightgray;
	padding: 20px 0px 20px 0px;
	width: 100%;
	z-index: 2;
}
.mon-text {
	line-height: 15px;
	font-size: 13px;
	margin: 15px 0px;
	margin-top: -5px !important;
	margin-bottom: 0px !important;
	padding: 0px !important;
}

.page-id-3584 .chbs-main .chbs-form-field {
	padding: 23px 0px !important;
}
.page-id-3584 .chbs-button {
	border-radius: 10px !important;
}
.page-id-3584 .chbs-vehicle-content-price {
	float: left !important;
}
.chbs-main
	.chbs-main-content-navigation-button
	.chbs-button.chbs-button-step-prev {
	border-radius: 10px !important;
}
@media only screen and (max-width: 900px) {
	.page-id-3584 .chbs-button {
		padding: 14px 32px !important;
	}
}
.page-id-3584 .chbs-main .chbs-summary .chbs-summary-header > h4 {
	text-align: left !important;
}
.page-id-3584 .chbs-main .chbs-summary .chbs-summary-field {
	text-align: left !important;
}
.page-id-3584 .chbs-main .chbs-form-label-group {
	text-align: left !important;
}
.page-id-3584 .chbs-main .chbs-form-field input,
.chbs-main .chbs-form-field select,
.chbs-main .chbs-form-field textarea {
	box-shadow: none !important;
}
.icon-row a {
	color: #fff;
	border-radius: 100%;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	position: relative;
	width: 30px;
	height: 30px;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 2px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.icon-row img {
	position: absolute;
	top: 0;
	left: 0;
}
.link span {
	background: #eeeeee;
	color: gray;
	font-size: 10.5px;
	position: absolute;
	bottom: 0;
	left: -35px;
	right: -35px;
	padding: 5px 7px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;

	/* Make sure that the span does not trigger "hover" of the ancestor elements */
	pointer-events: none;
}

.link span:before {
	content: "";
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #eeeeee;
	position: absolute;
	bottom: -7px;
	left: 45px;
}
.link:hover span {
	bottom: 38px;
	visibility: visible;
	opacity: 1;
	z-index: 999 !important;
}

.content {
	max-width: 570px;
	margin-right: 50px;
}

@media only screen and (max-width: 1200px) {
	.content {
		max-width: 450px;
	}
}

@media only screen and (max-width: 992px) {
	.content {
		max-width: 360px;
	}
}

@media (max-width: 770px) {
	.content {
		margin-right: 0px;
	}
}

.page_container {
	width: 100vw;
	display: flex;

	justify-content: center;
	overflow: hidden;
}

.cause_icon:hover {
	filter: invert(47%) sepia(25%) saturate(5628%) hue-rotate(338deg)
		brightness(102%) contrast(101%);
}

/*copying over bootstrap*/
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

.row {
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	/* margin-right: -15px;
	margin-left: -15px; */
}

.col {
	-webkit-flex-basis: 0;
	flex-basis: 0;
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	flex-grow: 1;
	max-width: 100%;
}

.col {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
