.LocalHeader {
	background-color: #f75524;
	padding: 1rem 0rem;
}
.list_wrapper {
	display: flex;
	align-items: center;
}
.LocalHeader > ul li:first-child {
	display: none;
}
.item_link div {
	color: #fff;
	margin-right: 5rem;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}
.item_link.active div {
	font-weight: 600;
	text-decoration: underline;
}
.arrow {
	margin-top: 3.9px;
}
@media screen and (max-width: 650px) {
	.item_link div {
		margin-right: 2rem;
	}
}
@media screen and (max-width: 460px) {
	.item_link div {
		margin: 0px !important;
	}
	.LocalHeader > ul li:first-child {
		display: block;
	}
	.list_wrapper {
		flex-direction: column;
		align-items: flex-start;
	}
	ul .li {
		width: 100%;
	}
	ul .item_link div {
		padding: 1rem 0rem;

		text-align: left;
	}
	ul li:first-child .item_link div {
		padding-top: 0rem;
	}
}
