.SignIn .sign-in-header {
  height: 5rem;
  background-color: #f8f9fb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SignIn .sign-in-header img {
  width: 230px;
}
.SignIn .body-area {
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
}
.SignIn .body-area form {
  background-color: #fff;
  width: 440px;
  border: 1px solid #ddd;
  padding: 2rem 2rem;
}
.SignIn .body-area form > p:first-child,
.SignUp .body-area form > p:nth-child(2) {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
.SignIn .body-area form > p:first-child a {
  color: #f85220;
}
.SignIn .body-area form > .helper {
  text-align: center;
  margin-top: 10px;
  font-size: 0.875rem;
  line-height: 1.2rem;
  color: #484848;
}
.input-collection {
  margin-top: 2rem;
}
.SignIn .body-area form .remeber-me-container {
  margin-top: 1.25rem;
}
.SignIn .body-area form .remeber-me-container,
.SignIn .body-area form .remember-me-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.SignIn .body-area form .remember-me-wrapper .custom-checkbox-container {
  margin-left: 8px;
}
.SignIn .body-area form .remember-me-wrapper .custom-checkbox-container label {
  font-size: 1rem;
}
.SignIn .body-area form .button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 1rem;
  align-items: center;
}
.SignIn .body-area form .button-wrapper .MuiButton-containedPrimary {
  height: 45px !important;
  background-color: #f85220;
  width: 130px !important;
}
.SignIn .body-area form .button-wrapper .MuiButton-contained {
  box-shadow: none !important;
}
.SignIn .body-area form .button-wrapper .MuiButton-contained:hover {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
}

.SignIn .body-area form .button-wrapper .MuiButton-containedPrimary.disable {
  color: #949494;
  background-color: #e0e0e0;
  pointer-events: none;
}
.SignIn .body-area form .button-wrapper a {
  color: #949494;
}
.SignIn .body-area form .button-wrapper a:first-child {
  padding: 0.3rem 0.5rem;
  display: inline-block;
}
.SignIn .body-area form .button-wrapper a:first-child:hover {
  background-color: rgb(243, 242, 242);

  border-radius: 5px;
}

.SignIn .body-area form .question-mark-area {
  margin-top: 7px;
  margin-left: 6px;
  position: relative;
}
.SignIn .body-area form .question-mark-area:hover > *:nth-child(2) {
  display: block;
}
.SignIn .body-area form .question-mark-answer {
  position: absolute;
  left: 50%;
  top: 115%;
  transform: translate(-50%, -115%);
  width: 252px;
  text-align: center;

  background-color: #ddfff4;
  padding: 1rem;
  font-size: 1rem;
  display: none;
  line-height: 1.4rem;
  z-index: 88888;
  border: 1px solid #ddd;
}
.arrow {
  width: 14px;
  height: 14px;
  border: 1px solid #ddd;
  background-color: #ddfff4;
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);

  border-top: none;
  border-right: none;
}
.SignIn .body-area form .MuiInputLabel-outlined {
  top: -2px !important;
}
.SignIn .body-area form .MuiOutlinedInput-root {
  height: 50px !important;
}
.SignIn .text-field {
  position: relative;
}
.SignIn .text-field .eye-wrap {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 22222;
}
.SignIn .text-field .eye-wrap i {
  font-size: 18px;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.23);
}

.SignIn .text-field input {
  padding-right: 50px !important;
}
input[type="password"]::-ms-reveal {
  display: none !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(46, 46, 46) !important;
  border-width: 1px !important;
}
.SignIn
  .body-area
  form
  .MuiOutlinedInput-root.Mui-focused.validation-error
  .MuiOutlinedInput-notchedOutline {
  border-color: red !important;
}

.MuiFormLabel-root.Mui-focused {
  color: rgb(46, 46, 46) !important;
}

@media screen and (max-width: 680px) {
  .SignIn .body-area form > p:first-child {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .SignIn .sign-in-header img {
    width: 180px;
  }

  .SignIn .sign-in-header {
    height: 4rem;
  }
}
@media screen and (max-width: 460px) {
  .SignIn .body-area form {
    width: 90%;
  }
  .SignIn .body-area form .question-mark-answer {
    left: 60%;
    transform: translate(-60%, -115%);
  }
  .arrow {
    left: 60%;
    transform: translateX(-60%) rotate(-45deg);
  }
}
@media screen and (max-width: 410px) {
  .SignIn .body-area form .button-wrapper .MuiButton-containedPrimary {
    width: 90px !important;
  }
}
@media screen and (max-width: 370px) {
  .SignIn .body-area form .button-wrapper a:first-child {
    font-size: 13px;
  }

  .SignIn .body-area form .question-mark-answer {
    left: 75%;
    transform: translate(-75%, -115%);
  }
  .arrow {
    left: 75%;
    transform: translateX(-75%) rotate(-45deg);
  }
}

@media screen and (max-width: 338px) {
  .SignIn .body-area form .button-wrapper a:first-child {
    padding: 0px !important;
  }
}
@media screen and (max-width: 318px) {
  .SignIn .body-area form .question-mark-answer {
    width: 210px;
  }
  .arrow {
    left: 75%;
    transform: translateX(-75%) rotate(-45deg);
  }
}
@media screen and (min-height: 1000px) {
  .SignIn .sign-in-header {
    position: absolute;
    width: 100%;
    top: 0;
  }
  .SignIn {
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .SignIn .body-area {
    align-items: center;
  }
}
@media screen and (min-height: 1000px) and (min-width: 1000px) {
  .SignIn .body-area form > p:first-child {
    font-size: 2rem;
    line-height: 40px;
  }
  .SignIn .body-area form > .helper {
    font-size: 20px;
  }
  .SignIn .body-area form .button-wrapper a:first-child,
  .SignIn
    .body-area
    form
    .remember-me-wrapper
    .custom-checkbox-container
    label {
    font-size: 20px;
  }
  .SignIn .body-area form .button-wrapper .MuiButton-containedPrimary {
    font-style: 30px;
  }
}
