.button-wrapper a:first-child:hover {
  background-color: rgb(243, 243, 243) !important;
}
.select-box .MuiInput-root {
  position: relative !important;
  border: 1px solid rgba(0, 0, 0, 0.23);
  height: 50px !important;
  border-radius: 5px !important;
  padding: 0rem 0rem !important;
}
.select-box .MuiFormControl-root {
  width: 100% !important;
  margin: 0px !important;
}
.MuiInput-underline:before {
  border-bottom: none !important;
}
.step-2 .select-box .MuiInputLabel-animated {
  left: 13px;
  top: 8px;
}
.step-2 .MuiInputLabel-animated + div select:focus {
  background-color: transparent;
}
.step-2 {
  display: none;
}
.error-message {
  display: inline-block;
  margin-top: 3px;
  font-size: 13px;
  padding-left: 12px;
  color: rgb(246, 91, 78);
  margin-bottom: 10px;
  display: none;
}

.result-wrapper {
  border: 1px solid #000;
  border-top: none;

  padding-bottom: 0.2rem;
  display: none;
  border-bottom-left-radius: 5px;

  border-bottom-right-radius: 5px;
}

.secondpart {
  max-height: 250px;
  overflow: auto;
}
.result-wrapper p {
  padding: 0.5rem 1rem;
}
.result-wrapper .row {
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: flex-start !important;
  justify-content: space-between;
}
.result-wrapper .row > p {
  margin: 0 !important;
  padding: 0 !important;
  color: #8f8f8f;
  font-size: 13px;
}
.result-wrapper .row:hover,
.manual-address:hover {
  background-color: #f4f4f3;
}
.result-wrapper .row > * {
  pointer-events: none;
}
.result-wrapper .row h5 {
  font-size: 15px;
  font-weight: 600;
}
.result-wrapper .row small {
  color: #b0b0b0;
}
.step-2 .select-box .MuiInputLabel-animated {
  left: 13px;
  top: 8px;
}
.step-2 .select-box label {
  background-color: #fff;
  top: 10px !important;
  left: 8px;
  z-index: 2222;
  padding: 0rem 0.2rem;
}
.step-2 .MuiInputLabel-animated + div select:focus {
  background-color: transparent;
}
.create-account-label {
  background-color: #f85220 !important;
  color: #fff !important;
  border-radius: 5px;
}
.create-account-label.disable {
  pointer-events: none;
  background-color: #e0e0e0 !important;
  color: #b0b0b0 !important;
}
.expand-address {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
  display: none;
}
.expand-address.active {
  display: grid;
}
.expand-address > * {
  grid-column: span 2;
}
.expand-address > *:nth-child(3),
.expand-address > *:nth-child(4) {
  grid-column: span 1;
}
.country-select {
  margin-top: 15px;
}
.country-select.active {
  margin-top: 2px;
}
.birthday.active {
  display: inline-block;
  margin-top: 16px;
}
.available-message {
  bottom: -18px;
}
.personal-info-wrapper {
  grid-gap: 5px;
}
@media screen and (max-width: 430px) {
  .SignIn .body-area form {
    padding: 2rem 1rem !important;
  }
  .SignIn .body-area form {
    padding: 2rem 1rem !important;
  }
  .SignIn .body-area .address-wrapper {
    padding: 0rem !important;
  }
}
@media screen and (max-width: 350px) {
  .expand-address {
    grid-template-columns: 1fr;
  }
  .expand-address > * {
    grid-column: span 1 !important;
  }
  .SignIn .body-area form > p:first-child > br {
    display: none !important;
  }
  .day-wrapper small {
    font-size: 8px;
  }
  .personal-info-wrapper {
    grid-gap: 3px !important;
  }
  .Month-select .MuiSelect-icon {
    z-index: 999 !important;
  }
}
@media screen and (max-width: 300px) {
  .available-message {
    bottom: -45% !important;
  }

  .country-select {
    margin-top: 30px;
  }
}
