.button-wrapper a:first-child:hover {
  background-color: rgb(243, 243, 243) !important;
}

.step-2 {
  display: none;
}
.error-message {
  display: inline-block;
  margin-top: 3px;
  font-size: 13px;
  padding-left: 12px;
  color: rgb(246, 91, 78);
  margin-bottom: 10px;
  display: none;
}

.birthday.active {
  display: inline-block;
  margin-top: 16px;
}
.available-message {
  bottom: -18px;
}
.personal-info-wrapper {
  grid-gap: 5px;
}
@media screen and (max-width: 430px) {
  .SignUp form {
    padding: 2rem 1rem !important;
  }
  .SignUp form {
    padding: 2rem 1rem !important;
  }
  .SignUp .address-wrapper {
    padding: 0rem !important;
  }
}
@media screen and (max-width: 350px) {
  .expand-address {
    grid-template-columns: 1fr;
  }
  .expand-address > * {
    grid-column: span 1 !important;
  }
  .SignUp .body-area form > p:first-child > br {
    display: none !important;
  }
  .day-wrapper small {
    font-size: 8px;
  }
  .personal-info-wrapper {
    grid-gap: 3px !important;
  }
}
@media screen and (max-width: 300px) {
  .available-message {
    bottom: -45% !important;
  }
}
