.arrow {
  width: 14px;
  height: 14px;
  border: 1px solid #ddd;
  background-color: #ddfff4;
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  border-top: none;
  border-right: none;
}
.SignIn .body-area form .MuiInputLabel-outlined {
  top: -2px !important;
}
.SignIn .body-area form .MuiOutlinedInput-root {
  height: 50px !important;
}
.SignIn .text-field {
  position: relative;
}
.SignIn .text-field .eye-wrap {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 22222;
}
.SignIn .text-field .eye-wrap i {
  font-size: 18px;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.23);
}

.SignIn .text-field input {
  padding-right: 50px !important;
}
input[type="password"]::-ms-reveal {
  display: none !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(46, 46, 46) !important;
  border-width: 1px !important;
}
.SignIn
  .body-area
  form
  .MuiOutlinedInput-root.Mui-focused.validation-error
  .MuiOutlinedInput-notchedOutline {
  border-color: red !important;
}

.MuiFormLabel-root.Mui-focused {
  color: rgb(46, 46, 46) !important;
}

@media screen and (max-width: 680px) {
  .SignIn .body-area form > p:first-child {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .SignIn .sign-in-header img {
    width: 180px;
  }

  .SignIn .sign-in-header {
    height: 4rem;
  }
}
@media screen and (max-width: 460px) {
  .SignIn .body-area form {
    width: 90%;
  }
  .SignIn .body-area form .question-mark-answer {
    left: 60%;
    transform: translate(-60%, -115%);
  }
  .arrow {
    left: 60%;
    transform: translateX(-60%) rotate(-45deg);
  }
}
@media screen and (max-width: 410px) {
  .SignIn .body-area form .button-wrapper .MuiButton-containedPrimary {
    width: 90px !important;
  }
}
@media screen and (max-width: 370px) {
  .SignIn .body-area form .button-wrapper a:first-child {
    font-size: 13px;
  }

  .SignIn .body-area form .question-mark-answer {
    left: 75%;
    transform: translate(-75%, -115%);
  }
  .arrow {
    left: 75%;
    transform: translateX(-75%) rotate(-45deg);
  }
}

@media screen and (max-width: 338px) {
  .SignIn .body-area form .button-wrapper a:first-child {
    padding: 0px !important;
  }
}
@media screen and (max-width: 318px) {
  .SignIn .body-area form .question-mark-answer {
    width: 210px;
  }
  .arrow {
    left: 75%;
    transform: translateX(-75%) rotate(-45deg);
  }
}
@media screen and (min-height: 1000px) {
  .SignIn .sign-in-header {
    position: absolute;
    width: 100%;
    top: 0;
  }
  .SignIn {
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .SignIn .body-area {
    align-items: center;
  }
}
@media screen and (min-height: 1000px) and (min-width: 1000px) {
  .SignIn .body-area form > p:first-child {
    font-size: 2rem;
    line-height: 40px;
  }
  .SignIn .body-area form > .helper {
    font-size: 20px;
  }
  .SignIn .body-area form .button-wrapper a:first-child,
  .SignIn
    .body-area
    form
    .remember-me-wrapper
    .custom-checkbox-container
    label {
    font-size: 20px;
  }
  .SignIn .body-area form .button-wrapper .MuiButton-containedPrimary {
    font-style: 30px;
  }
}
